<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WannaTutor"
        tools:targetApi="31">
        <activity
            android:name=".Activity_UpdateDate"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_AllUserInfoList"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".ShowProfileActivity" />
        <activity
            android:name=".Activity_Account_Delete"
            android:exported="false"
            android:parentActivityName=".ShowProfileActivity" />
        <activity
            android:name=".ShowProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_Why"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_AboutUs"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchTutors_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_ContactSendMessage"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_Become_Tutor"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>